:root {
  --primary: #0077b6;
  --secondary: #03045e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.logo {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 900;
  margin-left: 5rem;
}

.view-tasks {
  font: inherit;
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: background ease 0.3s;
}

.view-tasks:hover {
  background-color: #023e8a;
}

/* hero section */

main {
  background-color: var(--primary);
}
.hero {
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem;
  height: 80vh;
}

.left {
  width: 60%;
}

.hero-header {
  font-size: 50px;
  font-weight: 800;
}

.right {
  background-color: #0d598195;
  padding: 4rem;
  border-radius: 8px;
}
.right h3 {
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.form-group label {
  font-size: 18px;
  font-weight: 600;
}

input {
  font: inherit;
  padding: 4px 7px;
  border: none;
  border-radius: 8px;
}

.right button {
  background: white;
  font: inherit;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 200px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}
